{
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "proseWrap": "always"
}
